menu: [
  label: 'Packages'
  submenu: [
    label: 'IansasciidocPreviewFrommarkdownpreviewnomd'
    submenu: [
      {label: 'Toggle Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:toggle'},
      {label: 'saveAsHTML', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:save-as-html'},
      {label: 'openBrowserPopup', command: 'iansasciidoc-preview-frommarkdownpreviewnom:open-browser-popup'}
    ]
  ]
]

'context-menu':
  '.iansasciidoc-preview-frommarkdownpreviewnomd': [
    {label: 'Select All', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:select-all'}
    {label: 'Save As HTML\u2026', command: 'core:save-as'}
    {label: 'Open Browser Popup', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:open-browser-popup'}
  ]
  '.iansasciidoc-preview-frommarkdownpreviewnomd.has-selection': [
    {label: 'Copy', command: 'core:copy'}
  ]
  '.iansasciidoc-preview-frommarkdownpreviewnomd:not(.has-selection)': [
    {label: 'Copy As HTML', command: 'core:copy'}
  ]
  '.tree-view .file .name[data-name$=\\.markdown]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.md]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mdown]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkd]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.mkdown]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.ron]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.txt]':
    [{label: 'Markdown Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
  '.tree-view .file .name[data-name$=\\.adoc]':
    [{label: 'Asciidoctor Preview', command: 'iansasciidoc-preview-frommarkdownpreviewnomd:preview-file'}]
